.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;

}

#flex-item1{
    max-width: 100%;
    height: 100%;
    margin-top: auto;
    
}

#flex-item2  {
    text-size-adjust: 50px;
    font-weight:  1000em;
    font-size: 1vw;
    width: 75%;
    margin: 0;
    margin-top: 30px;
    margin-right: 200px;
    text-align: right;

}

.flex-item3 {
    display: flex;
    flex-direction: row;
    position: relative;
    box-align: right;
    justify-content:space-between;
    margin: 0;
    list-style-type:none;
    width: 90%;
    font-size: 1vw;

}

.nav-button {
    margin-right: 5px;
    margin-left: 500px;
    font-size:1vw;
}

