img.img1 {
    width: 70px;
    height: 100px;
    float: left;   
    margin-right: 15px;
}
img.img2 {
    width: 70px;
    height: 100px;
    float: left;
    margin-right: 15px;

}
img.img3 {
    width: 70px;
    height: 100px;
    float: left;
    margin-right: 15px;
}
img.img4 {
    width: 70px;
    height: 100px;
    float: le;
    margin-right: 15px;
}
#conteiner {
    display: flex;
    flex-direction: row;
}

